.container{
    width: 2500px;
    height: 1300px;
    background-color: silver;
    margin: 0px auto;
    
    
}
.top-nav {
    height: 300px;
    width: 2300px;
    background-color: green;
    margin-left: 100px;
    margin-top: 20px;
    display: inline-block;
    
}
.side-nav {
    height: 600px;
    width: 400px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    
}
.main {
    height: 800px;
    width: 1800px;
    background-color: red;
    margin-right: 0px;
    display: inline-block;
    /* vertical-align: top; */
    margin-top: 50px;
}
.sub-content {
    height: 400px;
    width: 410px;
    background-color: yellow;
    display: inline-block;
    margin-top: 100px;
    margin-right: 25px;
    margin-left:100px ;
    }
#advertisement {
    height: 200px;
    width: 1490px;
    background-color: purple;
    margin-top: 50px;
    margin-left: 100px;
}



