*{
    margin: 0px;
    padding:0px;
}

.nav{
    justify-content: space-between;
    display: flex;
    background-color: rgb(65, 65, 65);
    font-family: cursive;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    width: 600px ;
    align-items: center;
}
h1{
    color: white;
    display:flex ;
    margin-left: 40px;
}
ul{
    list-style-type: none;
    display:flex;
}
.btn{
    height:25px;
    width: 75px;
    background-color: aquamarine;
    box-shadow: 3px 3px;
}
a{
    text-decoration: none;
    color: white;
}